* {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: blueviolet;
}
section, footer, header {
    padding: 0 50px;
}
main {
    display: flex;
    justify-content: space-between;
    height: 500px;
}
aside {
    background-color: aqua;
    text-align: center;
    flex-grow: 1;
}
section{
    display: flex;
    flex-basis: 60%;
    padding: 0 50px;
    flex-direction: column;
    justify-content: space-between;

    background-color: violet;
}
footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;

    background-color: darkcyan;
}
footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;

    background-color: bisque;
}

.section_box {
    flex-basis: 45%;
    height: 50px;

    background-color: darkmagenta;
}
.section_boxes {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
}
.section_box:last-child {
    flex-basis: 100%;
    margin-top: 50px;
}
.section_main {
    height: 100px;
    text-align: center;
}
section, aside {
    padding: 50px 50px;
}
.section_box {
    display: flex;
    justify-content: center;
    align-items: center;
}
